---
layout: main.njk
---

{%for category in collections.categories%}
  {% set category = category.data%}
  <style>
{% lcss %}
#{{category.name}}:before {
  background-image: url("{{category.background}}");
}
{% endlcss %}
</style>
  {% include './_includes/snippets/category.njk' %}
{%endfor%}

<section id="Contact">
  <h1>Contact</h1>
  <div class="content">
    <img src="assets/imgs/liz.jpg" alt="Liz Höser" />
    <h2>Hey, I'm Liz!</h2>
    <p>Photography has been a part of my life for as long as I can remember, and combining it with my love for sports was a natural fit.
      Sports have always been a huge part of my life—not just behind the camera, but also on the field.
      Growing up, I played handball for years, and I also have a background in unicycling—both of which have given me a unique perspective on movement, precision, and the split-second moments that define an athlete’s journey.
      Through my lens, I strive to tell stories—of victory, struggle, determination, and passion.
      Whether it's the raw emotion of a last-minute goal or the perfect form of an athlete in motion, my goal is to capture the essence of the sport in every shot.</p>
    <p>You can find me and my photos on <a href="https://www.instagram.com/liz.hoeser/">Instagram</a>.</p>
  </div>
</section>
